/* 
    Created on : 2014/06/11, 10:49:03
    Author     : Sammy Guergachi <sguergachi at gmail.com>
*/
body{
    padding-top: 150px;
    font-family: Arial;
}

.container{
    width: 500px;
    margin: 0 auto;
}

a:link, a:visited{
    color: slategray;
    text-decoration: none;
    border-bottom: 1px dotted slategray;
}

a:hover{
    color: #333;
    border-bottom-color: #333;
}